a {
    font-family: Inter;
}

a:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-wrapper-left {
    margin-top: 43px;
    display: flex;
    flex-direction: row;
    width: 575px;
    align-items: center;
    height: 38px;
    justify-content: space-evenly;
}

.navbar-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.navbar-wrapper-right {
    margin-top: 43px;
    display: flex;
    flex-direction: row;
    width: 575px;
    align-items: center;
    height: 38px;
    justify-content: space-evenly;
}